.credit {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    background-image: linear-gradient(to right, #09203F , #537895);
    padding: 13px 0;
  }

  .credit_not{
    text-align: center;
    font-size: 1rem;
    color: black;
    background-color: #f8f9fa;
    padding: 13px 0;
  }
  